

#introduction{
    margin: 7em 0 0 0;
}

.instruction-content{
    margin: 2.5em 0;
}
.instruction-title{
    display: flex;
    flex-wrap:wrap;
    margin-bottom: 1em;
}
@keyframes typing {
    from { width: 0 }
}
@keyframes caret {
    50% { border-right-color: #4c3d81; }
}

.instruction-content h4{
    font-size: 1.5em;
    margin-right: 0.7em;
    width:9em;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(9),
               caret 1s steps(1) 9;
    border-right: 2px solid transparent;
}
.instruction-content span{
    visibility: hidden;
}
.instruction-content p{
    font-size: 1.5em;
    font-weight: 400;
    font-family: Arial;
    font-style:italic;
}
.carousel-arrow{
    filter: invert(100%);
}
.instruction-btn{
    margin-top: 1.5em;
}
.instruction-content button{
    margin:0 1em 0 0;
    background-color:#4c3d81;
    color:white;
    border: none;
    border-radius:12px;
    padding:10px;
    position:relative;
    transition: color 300ms ease-in-out;
    z-index: 1;
}
.instruction-content button:before{
    content:'';
    background-color:lightgray;
    border-radius:12px;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    z-index: -1;
    transition: transform 300ms ease-in-out;
    transform: scaleX(0);
}
.instruction-content button:hover:before{
    transform: scaleX(1);
}
.instruction-content button:hover
{
    color:rgb(255, 132, 0);
}

#about-us{
    padding: 6em 0 3em 0;
}
#about-us h3{
    text-align: center;
    font-size: 2em;
}
#about-us p{
    font-size: 1.2em;
}

/* #new-course .image-layout{
     margin: 20px 0;
}
#new-course img{
    width: 100%;
    height: 90%;
    border-radius: 5px;
}
#new-course img:hover{
    box-shadow: 8px 8px 8px rgba(0,0,0,.5); 
    transform:scale(1.05);
    cursor: pointer;
} */
#course{
    padding: 3em 0 3em 0;
    background-color:#68599b;
    color:white;
}
#course h3{
    text-align: center;
    margin: 2em 0 1em 0;
    font-size: 2em;
}
.course-category{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 4em; */
}
.course-category h4{
    margin: 0.5em 0;
    color:#4c3d81;
}

.course-category .course-layout{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
}
.course-category .image-layout{
    width: 10em;
    height: 10em;
    background-color: white;
    border-radius: 50%;
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media(hover:hover){
    .course-category .image-layout:hover{
        border: 2px solid #4c3d81;
        box-shadow: 8px 8px 8px rgba(0,0,0,.5);
        cursor: pointer;
    }  
}
@media(hover:none){
    .course-category .image-layout:hover{
        border: 2px solid #4c3d81;
        box-shadow: 8px 8px 8px rgba(0,0,0,.5);
        cursor: pointer;
    }  
}

.course-category img{
    width: 6.5em;
    height: 6.5em;
}
#show{
    padding: 6em 0 3em 0;
}
#show h3{
    text-align: center;
    /* margin: 2em 0 1em 0; */
    font-size: 2em;
}
footer{
    background-color:#4c3d81;
    color:white;
}
footer #footer-logo{
    max-width:100px;
}
footer #footer-code{
    max-width:90px;
}
footer .layout{
    margin: 2em 0;
}

footer .copyright{
    text-align: center;
    font-size: 1.2em;
    margin: 2em 0;
}

