/* time table */
.layout{
    margin: 7em 0 0 0;
}
.timeZone-layout{
    display: flex;
    margin-left: 1.5em;
}
input[type='radio']{
    margin-left: 0.5em;
}
input[type='radio']{
    accent-color:#4c3d81;
}
ul li{
    list-style-position: inside;
}
.table-layout{
    border: 2px, solid, rgb(76, 61, 129);
}
.table-layout p{
    margin: 0;
}
.table-layout li{
    margin-bottom: 0.7rem;
}
.table-layout ul{
    padding: 0;
}
.card-body{
    padding-left: 2rem;
    padding-right: 2rem;
}
.colorStyle{
    color:rgb(255, 132, 0);
}
.card-title{
    background-color: rgba(76, 61, 129, 0.345);
}
.scan-block p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/* .note-block{
    display: flex;
    flex-direction: column;
    justify-content:start;
} */
.li-layout{
    margin-bottom: 0 !important;
}