body{
    color:#4c3d81;
}
p {
    word-wrap:break-word;
    word-break: normal;
}
.navbar{
    background-color: white;
}
.navbar-brand{
    margin:0 10px;
}
.navbar-brand #logo{
    max-width:50px;
}
.navbar-brand #title{
    max-width:180px;
}
.navbar .navbar-brand span{
    font-weight: 600;
    /* font-size: 1.2em; */
    font-style: italic;
    color: #4c3d81;
}
.navbar .nav-item a{
    color:#4c3d81 !important;
    font-weight: 600;
    /* font-size: 1.1em; */
    margin: 0 10px;
}
.navbar .nav-item a:hover{
    color: rgb(255, 132, 0) !important;
}

.dropdown:hover>.dropdown-menu {
    display: block;
  }
.dropdown-item{
    width: 90%;
}
.dropdown-item:hover{
    background-color: white;
}
#introduction{
    margin: 7em 0 3em 0;
}
.instruction-content{
    margin-bottom: 2.5em;
}
.instruction-content h4{
    font-size: 3em;
}
.instruction-content p{
    font-size: 1.2em;
    font-weight: 400;
}
.instruction-content button{
    background-color:#4c3d81;
    color:white;
    border: none;
    border-radius:12px;
    padding:10px;
}
.instruction-content button:hover{
    background-color:lightgray;
    color:rgb(255, 132, 0);
}
#new-course{
    margin: 0 0 3em 0;
}
#new-course h3{
    text-align: center;
    font-size: 2em;
}
#new-course .image-layout{
     margin: 20px 0;
}
#new-course img{
    width: 100%;
    height: 90%;
    border-radius: 5px;
}
#new-course img:hover{
    box-shadow: 8px 8px 8px rgba(0,0,0,.5); 
    transform:scale(1.05);
    cursor: pointer;
}
#learn{
    margin: 0 0 3em 0;
    background-color:#4c3d81;
    color:white;
}
#learn h3{
    text-align: center;
    margin: 1em 0;
    font-size: 2em;
}
.learn-content{
    text-align: center;
}
.learn-content h4{
    margin: 1em 0;
}
.learn-content p{
    font-size: 1.2em;
}
#teacher h3{
    text-align: center;
    margin: 1em 0;
    font-size: 2em;
}
footer{
    background-color:#4c3d81;
    color:white;
}
footer #footer-logo{
    max-width:100px;
}
footer #footer-code{
    max-width:90px;
}
footer .layout{
    margin: 2em 0;
}
footer .col-md-5{
    display: flex;
    align-items:flex-end;
}

